altair
astor>=0.8.1
docutils
graphviz
matplotlib
matplotlib-venn
myst-parser
notebook
numpy
pandas
pybtex
pydata-sphinx-theme
scikit-learn
sphinx
sphinx-book-theme
sphinxcontrib-bibtex
sphinx-exercise
sphinx-external-toc
sphinx-proof
sphinx-tabs
sphinxcontrib-katex
tqdm
