
@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Mate+SC&display=swap');

h1, h2, h3, h4, h5, h6, .reference-internal, .caption-text {
  font-family: 'Mate SC', serif;
}

p {
    text-align: justify;
    font-family: 'Alike angular', serif;
}
